[Unit]
Description=External Package Mountpoints

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/pacmnt start
ExecStop=/usr/local/bin/pacmnt stop

[Install]
WantedBy=multi-user.target 
