[Windows 8.1 Update 1]
row=8
col=0

[Expansion]
row=5
col=0

[ED-PC-scratch]
row=3
col=0

[General Shared]
row=0
col=1

[Windows 8]
row=7
col=0

[4GB]
row=1
col=1

[Holding]
row=4
col=0

[Android-x86 4.4-]
row=9
col=0

[293 GB Volume]
row=6
col=0

[Trash]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=0
col=0

