[General]
Show_Title=false
Show_Labels=true
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
Font_Size=medium
Font_Size_Numerical=2
Font=Sans 12
Lines_Size=2
Update_Interval=60
Exec_Command=true
Show_Units=true
Small_Spacings=false
Command_Name=xfce4-sensors
Number_Chips=4
Suppress_Hddtemp_Message=false
Preferred_Width=499
Preferred_Height=703

[Chip0]
Name=atk0110-0
Number=0

[Chip0_Feature4]
Id=-1
Address=4
Name=FAN
Color=#00B000
Show=true
Min=1028.00
Max=3500.00

[Chip0_Feature9]
Id=3
Address=9
Name=MB
Color=#00B000
Show=true
Min=0.00
Max=42.00

[Chip1]
Name=coretemp-0
Number=1

[Chip1_Feature0]
Id=0
Address=0
Name=CPU1
Color=#00B000
Show=true
Min=0.00
Max=44.00

[Chip1_Feature1]
Id=-1
Address=1
Name=CPU2
Color=#00B000
Show=true
Min=0.00
Max=44.00

[Chip2]
Name=nouveau-100
Number=2

[Chip3]
Name=ACPI
Number=3

