[Unit]
Description=/media/bert-users
Before=remote-fs.target
After=NetworkManager-wait-online.service
Wants=NetworkManager-wait-online.service

[Mount]
UMask=0000
What=//booba/Users
Where=/media/bert-users
Type=cifs
Options=rw,iocharset=utf8,sec=ntlm,credentials=/home/.smbcredentials
TimeoutSec=15

[Install]
WantedBy=remote-fs.target
